<div class="container singup">
  <div class="row">
    <div class="col s12">

      <div class="header_devise"><p>Edit <%= resource_name.to_s.humanize %></p></div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <%= image_tag(@user.avatar_url(:thumbnail), :width => 80, :height => 80) unless @user.avatar.blank? %>
          <div class="field">
            <%= f.hidden_field(:avatar_cache) %>
            <%= f.file_field(:avatar) %>
          </div>

          <div class="field">
            <%= f.label :user_name %><br />
            <%= f.text_field :user_name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :location %><br />
            <%= f.text_field :location, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :bio %><br />
            <%= f.text_area :bio, autofocus: true %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        <% end %>
        
        <br><br><br>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", main_path(resource) %>

    </div>
  </div>
</div>
