<%= render 'header', user: @user %>

<div class="row">
  <div class="col s9 offset-s2">
    <div class="container">
      <div class="row white count_tweet">
        <div class="col s4"><p><%= current_user.tweets.count %></p> <p>Tweets</p></div>
        <div class="col s4"><p><%= current_user.followers_count %></p> <p>Followers</p></div>
        <div class="col s4"><p><%= current_user.follow_count %></p> <p>Following</p></div>
      </div>
    </div>

    <div class="container">
      <div class="row white tweet">
        <div class="col s12">
          <%= form_tag(search_path, method: :get) do %>
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag 'Search', name: nil %>
          <% end %>
        </div>
      </div>
    </div>

    <% unless @results.empty? %>
      <div class="container">
        <div class="row white tweet">
          <div class="col s12">
            <% @results.each do |result| %>
              <div class="row">
                <div class="col s2">
                  <%= image_tag(result.user.avatar_url(:thumbnail), :width => 50, :height => 50, :class => "circle") %>
                  <p><%= link_to result.user.name, main_path(result.user) %></p>
                </div>
                <div class="col s10 offset-2">
                  <h5><%= result.text %></h5>
                  <p><%= result.created_at.strftime("%A, %b %d")%></p>
                </div>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
