<%= render 'header', user: @user %>

<div class="row">
  <div class="col s9 offset-s2">
    <div class="container">
      <div class="row white count_tweet">
        <div class="col s4"><p><%= @user.tweets.count %></p> <p>Tweets</p></div>
        <div class="col s4"><p><%= @user.followers_count %></p> <p>Followers</p></div>
        <div class="col s4"><p><%= @user.follow_count %></p> <p>Following</p></div>
      </div>
    </div>
    <div class="container">
      <div class="row white tweet">
        <div class="col s12">
          <div class="input-field col s12">
            <%= form_with(model: [ @user, Tweet.new ], local: true) do |form| %>
            <div class="field">
              <%= form.label :message, :value => "O que está acontecendo?" %>
              <%= form.text_area :text, id: :tweet_text, maxlength: 140, 'data-length': "140", :class=> "materialize-textarea" %>
            </div>
            <div class="actions">
              <%= form.submit class: "btn waves-effect waves-light blue", value: "Tweet", name: "create" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row white tweet">
        <div class="col s12">
          <% @user.tweets.each do |tweet| %>
            <div class="row">
              <div class="col s2">
                <%= image_tag(@user.avatar_url(:thumbnail), :width => 50, :height => 50, :class => "circle") %>
                <p><%= link_to @user.name, main_path(@user) %></p>
              </div>
              <div class="col s10 offset-2">
                <h5><%= tweet.text %></h5>
                <p><%= tweet.created_at.strftime("%A, %b %d")%></p>
              </div>
            </div>
            <hr>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
