<div class="row">
  <div class="col s3 blue-grey darken-2 left-bar">
    <div class="container user-details">
      <ul>
        <li><%= image_tag(@user.avatar_url(:thumbnail), :width => 100, :height => 100, :class => "circle") unless @user.avatar.blank? %></li>
        <li><%= @user.name %></li>
        <li><%= @user.email %></li>
      </ul>
    </div>
  </div>
  <div class="col s9 header-tweet"></div>
</div>

<div class="row">
  <div class="col s9 offset-s2">
    <div class="container">
      <div class="row white count_tweet">
        <div class="col s3"><p><%= @user.tweets.count %></p> <p>Tweets</p></div>
        <div class="col s3"><p>23</p> <p></p></div>
        <div class="col s3"><p>23</p> <p>Followers</p></div>
        <div class="col s3"><p>23</p> <p>Following</p></div>
      </div>
    </div>

    <div class="container">
      <div class="row white tweet">
        <div class="col s12">
          <div class="input-field col s8">
            <%= form_with(model: [ @user, Tweet.new ], local: true) do |form| %>
            <div class="field">
              <%= form.label :message, :value => "O que está acontecendo?" %>
              <%= form.text_area :text, id: :tweet_text, maxlength: 140, :class=> "materialize-textarea" %>
            </div>
            <div class="actions">
              <%= form.submit :class => "btn waves-effect waves-light blue" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row white tweet">
        <div class="col s12">
          <% @user.tweets.each do |tweet| %>
            <div class="row">
              <div class="col s2">
                <%= image_tag(@user.avatar_url(:thumbnail), :width => 50, :height => 50, :class => "circle") %>
                <p><strong><%= @user.name %></strong></p>
              </div>
              <div class="col s6 offset-2">
                <h5><%= tweet.text %></h5>
                <p><%= tweet.created_at.strftime("%A, %b %d")%></p>
              </div>
            </div>
            <hr>
            <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
